.left_col{
float:left;
border:3px #ff0 solid;
height:auto;
width:250px;
background-color:#E0E0E0;
border-right-color: rgb(44,151,162);
border-top-color: black;
border-bottom-color: black;
border-left-color: black;
}

.middle_col{
float:left;
border:3px #ff0 solid;
height:auto;
width:400px;
background-color:#F2F2F2;
border-right-color: rgb(44,151,162);
border-left-color: rgb(44,151,162);
border-top-color: black;
border-bottom-color: black;
border-right-width: 3px;
/*overflow-y: scroll;*/
}

.right_col{
float:left;
border:3px #ff0 solid;
height:900px;
width:292px;
background-color:#F2F2F2;
border-right-color: rgb(44,151,162);
border-left-color: rgb(44,151,162);
border-top-color: black;
border-bottom-color: black;
}
/*left side*/
span.title{
	font-size:25px;
	font-family: 'Oswald',serif;
	color:grey;
	margin-left: 10px;
}

span.ex{
	font-family: 'Oswald', serif;
	font-size: 15px;
	color:grey;
	margin-left: 50px;
}

hr{
	display:block;
	height: 5px;
    background-color: rgb(44,151,162);
}

img.button{
	width:40px;
	height:40px;
	float: right;
	margin-right: 15px;
}
/*right side*/
.logo{
	float: right;
}
.add_ex{
	margin-top: 80px;
	margin-left: 20px;
	font-size: 20px;
	font-family: 'Oswald',serif;
	color: grey;
}
.ad{
	margin-left: 20px;
	width:220px;
	height:30px;
}
.search{
	width:30px;
	height:30px;
	position: absolute;
}
/*middle side*/
#profile{
	width:100%;
	height:500px;
	/*background-color: grey;*/
	margin-top: 80px;
}

img.base{
	width:100%;
    height:200px;
    /*z-index: 0;*/
    background-color: black;
}

#user_handle{
width: 260px;
height:50px;
z-index: 1;
margin-top: -70px;
margin-left: 70px;
}

#handle{
margin-left: 20px;
margin-top: -15px;
/*position: absolute;*/
color: white;
z-index: 2;
text-align:center;
}
#username{
font-family: Georgia,serif;
font-size: 23px;
/*position: absolute;*/
text-align:center;
z-index: 2;
color: white;
margin-left: 20px;
margin-top: -100px;
}
#t_des{
	font-size:15px;
    font-family: Georgia,serif;
    text-align: center;
    margin-left:18px;
    margin-top:-10px;
    color:white;
}
img#header0{
	width:50px;
	height:50px;
	margin-top: -160px;
	margin-left: 180px;
	z-index: 1;
	position:absolute;
}
.tw{
	font-size: 20px;
}
div#first{
width:400px;
height:130px;
background-color: rgb(255,255,255);
/*margin-left: 40px;*/
margin-top: -18px;
font-family: "Oswald";
}
div#f_pa{
width:300px;
height:50px;
background-color: rgb(255,255,255);
/*margin-left: 40px;*/
margin-top: -70px;
margin-left:80px;
}
div#middle{
width: 380px;
height:auto;
/*background-color: #CECECE;*/
/*margin-left: 40px;*/
font-family: "Oswald";
font-size: 20px;
margin-top: -160px;
/*padding: 4%;*/
text-align: center;
z-index: 2;
position: absolute;
}
div#mid{
width: 400px;
height:200px;
background-color: #CECECE;
/*margin-left: 40px;*/
/*font-family: "Oswald";
font-size: 20px;*/
margin-top: -20px;
/*padding: 4%;*/
text-align: center;
}
div#m_pa{
height:50px;
background-color: #CECECE;
/*margin-left: 40px;*/
}
div#last{
width:400px;
height:130px;
background-color: white;
/*margin-left: 40px;*/
margin-top: -15px;
font-family: "Oswald";
}
div#l_pa{
width:300px;
height:50px;
background-color: rgb(255,255,255);
/*margin-left: 40px;*/
margin-top: -70px;
margin-left:80px;
}
#header1{
	margin-top: 30px;
	margin-left: 30px;
	width: 40px;
	height:40px;

}
#header2{
	margin-top: 30px;
	margin-left: 30px;
	width: 40px;
	height:40px;
}
#header3{
	margin-top: 30px;
	margin-left: 30px;
	width: 40px;
	height:40px;
}

#overlay {
	width: 660px;
	height: 585px;
	display: block;
	position: absolute;
	background: black;
	opacity: 0.5;
	z-index: 100;
}

#loading {
	position: absolute;
	width: 100px;
	height: auto;
	border-radius: 10px;
	border: 2px solid ;
	margin-top: 250px;
	margin-left: 280px;
	margin-right: auto;
	background: #E0E0E0;
	border-color: rgb(44,151,162);
	font-weight: bold;
	font-size: large;
	padding: 10px;
	text-align: center;
	z-index: 101;
}



