.background{
background-color: #F2F2F2;
width: 1100px;
height: 680px;
margin-left: 10px;
/*margin-right: 10px;*/
margin-top: 10px;
}
img#url_logo{
	margin-left:450px;
	margin-top: 80px;
}
.enter{
	margin-top:400px;
	margin-left:445px;
	font-family: "Oswald",serif;
	font-size: 26px;
	color:#707070;
	font-weight: 100;
}
.search{
	margin-left: 300px;
	width:500px;
	height:35px;
	border-color: #2C97A2;
	border-width: 2px;
	background-color: #C8C8C8;
}
img#click{
	margin-left: 640px;
	width:170px;
	height:55px;
}