.background{
background-color: #F2F2F2;
width: 1410px;
height: 1000px;
margin-left: 10px;
/*margin-right: 10px;*/
margin-top: 10px;
}
img#url_logo{
	margin-left:600px;
	margin-top: 80px;
}
.enter{
	margin-top:400px;
	margin-left:595px;
	font-family: "Oswald",serif;
	font-size: 26px;
	color:#707070;
	font-weight: 100;
}
.search{
	margin-left: 450px;
	width:500px;
	height:35px;
	border-color: #2C97A2;
	border-width: 2px;
	background-color: #C8C8C8;
}
img#click{
	margin-left: 790px;
	width:170px;
	height:55px;
}
/*

falling leaves*/

.AutomLeaf {
	position:fixed;
	opacity:0;
	z-index:0
}
.AutomLeaffalling {
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:0
}
.inFront {
	z-index:100
}
.x1 {
	width:75px;
	height:75px
}
.x2 {
	width:100px;
	height:100px
}
.x3 {
	width:125px;
	height:125px
}
.x4 {
	width:150px;
	height:150px
}
